<div class="rank-info mt-3 mx-auto">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#score-tab" type="button" role="tab"
        aria-controls="score-tab-pane" aria-selected="true">積分排行</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#activity-tab" type="button" role="tab"
        aria-controls="activity-tab-pane" aria-selected="false">本月活躍排行</button>
    </li>
  </ul>
  <div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="score-tab" role="tabpanel" aria-labelledby="score-tab" tabindex="0">
      <table class="table table-light mb-4 text-center">
        <thead class="table-primary">
          <tr>
            <th class="col-2">Rank</th>
            <th class="col-2">Name</th>
            <th class="col-2">WPM</th>
            <th class="col-2">Accuracy Rate</th>
            <th class="col-2">Score</th>
            <th class="col-2">Time</th>
          </tr>
        </thead>
        <tbody>
          {{#each singlesWithScore}}
          <tr>
            <td class="col-2 align-middle">{{#plusOne @index}}{{/plusOne}}</td>
            <td class="col-2 align-middle">
              <a href="/accounts/{{this.userId}}"
                class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{this.name}}
              </a>
            </td>
            <td class="col-2 align-middle">{{this.wpm}}</td>
            <td class="col-2 align-middle">{{this.accuracyRate}} %</td>
            <td class="col-2 align-middle">{{this.score}}</td>
            <td class="col-2 align-middle">{{{this.createdDateTime}}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="activity-tab" role="tabpanel" aria-labelledby="activity-tab" tabindex="0">
      <table class="table table-light mb-3 text-center">
        <thead class="table-primary">
          <tr>
            <th class="col-2">Rank</th>
            <th class="col-5">Name</th>
            <th class="col-5">Usage<span class="footnote">(打字次數)</span></th>
          </tr>
        </thead>
        <tbody>
          {{#each singlesWithUsage}}
          <tr>
            <td class="col-2 align-middle">{{#plusOne @index}}{{/plusOne}}</td>
            <td class="col-5 align-middle">
              <a href="/accounts/{{this.userId}}"
                class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{this.name}}
              </a>
            </td>
            <td class="col-5 align-middle">{{this.monthlyUsage}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>