<div class="row mt-3">
  <div class="col-4">
    <div class="d-flex flex-column align-items-center">
      <img class="avatar mb-5" src={{user.avatar}} alt="avatar">
      <a href="#" class="btn btn-outline-warning btn-sm mb-3">個 人 設 定</a>
      <a href="#" class="btn btn-outline-warning btn-sm">重 設 密 碼</a>
    </div>
  </div>
  <div class="col-8 ps-5 user-info">
    <h1 class="mb-3">{{user.name}}</h1>
    <p id="introduction">{{user.introduction}}</p>
    <hr>
    <h5 class="mb-3">平均表現: <span>(以最新10筆紀錄為基準)</span></h5>
    <table class="table table-light mb-3 text-center">
      <thead class="table-primary">
        <tr>
          <th class="col-2">WPM</th>
          <th class="col-2">Accuracy Rate</th>
          <th class="col-2">Score</th>
          <th class="col-2">Rank</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-2 align-middle">{{myAvgRecord.wpm}}</td>
          <td class="col-2 align-middle">{{myAvgRecord.ar}} %</td>
          <td class="col-2 align-middle">{{myAvgRecord.score}}</td>
          <td class="col-2 align-middle">{{rank}} <span class="denominator">/{{totalUsers}}</span></td>
        </tr>
      </tbody>
    </table>
    <h5 class="mb-3">最佳表現: <span>(以最近6個月紀錄為基準)</span></h5>
    <table class="table table-light mb-3 text-center">
      <thead class="table-primary">
        <tr>
          <th class="col-2">WPM</th>
          <th class="col-2">Accuracy Rate</th>
          <th class="col-2">Score</th>
          <th class="col-2">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-2 align-middle">{{bestRecord.wpm}}</td>
          <td class="col-2 align-middle">{{bestRecord.ar}} %</td>
          <td class="col-2 align-middle">{{bestRecord.score}}</td>
          <td class="col-2 align-middle">
            {{#if bestRecord.createdDate}}
            {{bestRecord.createdDate}}<br>{{bestRecord.createdTime}}
            {{else}}
            -
            {{/if}}
            </td>
        </tr>
      </tbody>
    </table>
    <h5 class="mb-3">活躍度:</h5>
    <div>
      <canvas id="activity-degree"></canvas>
    </div>
    <div hidden>
      {{#with recordPerMonth}}
      <span class="y-axis-num" id="Jan">{{Jan}}</span>
      <span class="y-axis-num" id="Feb">{{Feb}}</span>
      <span class="y-axis-num" id="Mar">{{Mar}}</span>
      <span class="y-axis-num" id="Apr">{{Apr}}</span>
      <span class="y-axis-num" id="May">{{May}}</span>
      <span class="y-axis-num" id="Jun">{{Jun}}</span>
      <span class="y-axis-num" id="Jul">{{Jul}}</span>
      <span class="y-axis-num" id="Aug">{{Aug}}</span>
      <span class="y-axis-num" id="Sep">{{Sep}}</span>
      <span class="y-axis-num" id="Oct">{{Oct}}</span>
      <span class="y-axis-num" id="Nov">{{Nov}}</span>
      <span class="y-axis-num" id="Dec">{{Dec}}</span>
      {{/with}}
    </div>
  </div>
</div>